[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
waitress = "*"
scikit-learn = "==0.24.2"
gunicorn = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
